section[id="about"] {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: calc(var(--spacer) * 11px) 0px;
    height: calc(100vh - (var(--spacer) * 11px));
}

.leftContainer {
    width: 50%;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    text-decoration: none !important;
    min-height: calc(100vh - (var(--spacer) * 11px));
}

.aboutMeContent {
    margin: calc(var(--spacer) * 5px) 0px;
}

.rightContainer {
    width: 50%;
    height: calc(100vh - (var(--spacer) * 11px));
}

.rightImage {
    height: 100%;
    width: calc(var(--spacer) * 56px);
}

@media only screen and (min-width: 1440px) {
    .rightImage {
        width: 110%;
    }
}

@media only screen and (max-width: 1024px) {
    .rightImage {
        height: 80%;
    }
    section[id="about"] {
        width: 90%;
        margin: auto;
        height: calc(90vh - (var(--spacer) * 11px));
    }
}

@media  only screen and (max-width: 768px){
    section[id="about"] {
        height: 100%;
        padding: calc(var(--spacer) * 4px) 0px;
    }
    .leftContainer {
        width: 100%;
        flex-direction: column;
        margin-top: calc(var(--spacer) * 10px);
        margin-bottom: calc(var(--spacer) * 5px);
    }
    .rightContainer {
        width: 100%;
        height: auto;
    }
    .cta {
        margin: calc(var(--spacer) * 1px) 0px;
    }
    .rightImage {
        width: calc(var(--spacer) * 64px);
    }
}

@media only screen and (max-width: 425px){
    .rightImage {
        width: 100%;
    }
}